doctype html
html
	head
		// Import Google Icon Font
		link(href='css/icon.css', rel='stylesheet')
		// Import materialize.css
		link(type='text/css', rel='stylesheet', href='css/materialize.css', media='screen,projection')
		// Custom css
		link(type='text/css', rel='stylesheet', href='css/custom.css', media='screen,projection')
		// Let browser know website is optimized for mobile
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body.grey
		.container
			// Page Content goes here
			.row
				.col.s12.m6.offset-m3.top-margin
					.card.grey.darken-1
						.card-content.white-text
							span.card-title Blobber • Login
						.rule
						.card-content.white-text
							.row
								.input-field.col.s12
									input#username.validate(type='text')
									label(for='username') Username
								.input-field.col.s12
									input#password.validate(type='text')
									label(for='password') Password
						.card-action
							a.btn-flat.lime.grey-text.waves-effect(href='javascript:void(0)') Login
		// Import jQuery before materialize.js
		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
		// Import Materialize.js
		script(type='text/javascript', src='js/materialize.js')
		// Import Custom.js
		script(type='text/javascript', src='js/custom.js')
